@import "./vars.scss";

:root {
    font-size: 10px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: $brandColor;
    font-size: 3.2rem;
}
