///MODULES
@import "./vars.scss";
///BOOTSTRAP
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";

:root {
    font-size: 10px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
